*{
    margin:0;
    padding:0;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
/* shared property */
button{
    background-color:#4E47FF;
    color: white;
    border-radius:  10px;
    border:none;
    font-weight: bold;

}

                            /* separate property */
/* header */
header{
    height: 698px;
    background-image: url('Assets/Hero-bg.png');
    
}
.banner1{
    height: 151px;
    width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.banner1>h2{
    color:#4E47FF;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
  font-weight: 900;
  font-size: 34px;
    
    
}
.banner1>button{
    padding: 12px 36px;
}

.banner2{
    width:900px;
    height: 230px;
    margin:auto; 
    margin-top: 158px;
    text-align: center;
    
}
.banner2 p{
    font-size: 65px;
    
  font-weight: bold;
}
.banner2>button{
    display:block;
    margin:auto;
    margin-top:37px;
    padding:12px 36px;   
}
/* main */
main{
    width:1140px;
    margin:auto;
}
.action{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:116px;

}
.action-para{
    width:517px;
    height:200px;
    
}
.action h2{
    font-size: 42px;
    font-weight: bold;
    
}
.action p{
    font-size:24px;
    color:#252432;
    opacity:0.5;
    margin-top:23px;
}
.action button{
     margin-top:23px;
     padding:12px 36px;
     
}
.action img{
    width:400px;
    border-radius: 48px;
}
