*{
    margin:0;
    padding:0;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
body{
    background-color: #f5f8ff;
}

/* shared property */
button{
    background-color:#4E47FF;
    color: white;
    border-radius:  10px;
    border:none;
    font-weight: bold;
    

}
button:hover{
    cursor:pointer;
    opacity:.8;
    color:black;
   
}

                            /* separate property */
/* header */
header{
    height: 698px;
    background-image: url('Assets/Hero-bg.png');
    
}
.banner1{
    height: 151px;
    width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.banner1>h2{
    color:#4E47FF;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
  font-weight: 900;
  font-size: 34px;
    
    
}
.banner1>button{
    padding: 12px 36px;
}

.banner2{
    width:900px;
    height: 230px;
    margin:auto; 
    margin-top: 158px;
    text-align: center;
    
}
.banner2 h2{
    font-size: 65px;
    
  font-weight: bold;
}
.banner2>button{
    display:block;
    margin:auto;
    margin-top:37px;
    padding:12px 36px;   
}
/* main */
main{
    width:1140px;
    margin:auto;
    
}
.action{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:116px;

}
.action-para{
    width:517px;
    height:200px;
    
}
.action h2{
    font-size: 42px;
    font-weight: bold;
    
}
.action p{
    font-size:24px;
    color:#252432;
    opacity:0.5;
    margin-top:23px;
}
.action button{
     margin-top:23px;
     padding:12px 36px;
     
}
.action img{
    width:400px;
    border-radius: 48px;
}
.productivity{
    background-color:rgba(78,71,255,.1);
    padding:50px 142px;
    border-radius:24px;
    text-align: center;
    margin-top:116px;
}

.productivity>p{
    font-size: 38px;
    font-weight: bold;
}
.all-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}
.data>h2{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      color:#4E47FF
    
}
.data>p{
    font-size:24px;
    opacity:.5;
}
.review{
    height:342px;
    margin-top: 137px;
}
.review>h2{
    font-size:42px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.review .card{
    display:flex;
    flex-direction: column;
    gap:24px;
    padding:24px;
    border-radius: 14px;
    background-color: rgba(255,255,255,.5);
    

    
}
.review-inside{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.reviewer-name{
    display:flex;
    gap:10px;

}
.reviewer-name img{
    border-radius: 50%;
}
.reviewer-name p{
    font-weight: bold;
    opacity:.5;
}
.reviewer-name #date{
    opacity:.3;
}
.ready{
    height:550px;
    background-color: rgba(255,255,255,.5);
    padding:71px 150px;
    border-radius: 14px;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top: 137px;
}
.ready img{
    border-radius: 48px;

}
.ready h2{
    font-size: 50px;
    font-weight: bold;
}
.ready p{
    opacity:.5;
}
.ready button{
    width:195px;
    height:48px;
    margin:0 auto;
    font-size:16px;
    font-weight: 400;
}
.contact{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:71px 0;
    margin-top:92px;
}
.contact-info>form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:8px;
   width:497px;
    


}
.contact-title{
    font-size: 67px;
    font-weight: bold;
    width:50%;
}
.contact-info input,textarea{
    padding:20px 32px;
    border-radius:10px;
    background-color:rgba(255,255,255,.5) ;
    border:none;
    box-shadow: 1px 1px 5px gray;
    font-size: 20px;
    font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      resize:none;
}
.contact-info label{
    font-weight: 600;

}
.contact-info button{
    border-radius:10px;
    padding:19px 110px;
}
footer{
    background-color:rgba(255,255,255,.5) ;
    padding:104px 455px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:15px;
    color:#8987A1;
}
footer ul,a{
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color:#8987A1;
    
}
footer h2{
    font-size: 100px;
    color:#4E47FF;
    font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 800;


}
footer p{
    font-size: 19px;
    font-weight: 500;
}


